## Jupyter Notebook
.ipynb_checkpoints/

## macOS
.DS_Store

##
.idea/

## Python

# Environments
.venv
/venv

# Byte-compiled / optimized / DLL files
__pycache__/

## DVC

# DVC plots
dvc_plots

# DVC will add new files after this line
/model
